.container 
{
    display: flex;
    height: 100vh;
}
  
.left-section, .right-section 
{
    width: 50%;
}
svg{
    position: fixed;
    margin-top: 19px;
    margin-left: -27px;
    width: 4%;
    height: 15px;
} 
.left-section 
{
    background-color: #f0f0f0;
    align-items: center;
    background:url("blk.jpeg");
    background-size: cover;
}

.left-section h2
{
    margin-top: 50vh;
    align-items: center;
    margin-left: 50vh;
    font-size: 40px;
    font-weight: bold;
    animation: bounce 2s infinite;
    color: white;
    font-size: 40px;
  font-weight: bold;
  animation: slide 5s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}    
.right-section
{
    background:url("rht.jpg.png");
    background-size: cover;
    background-position: center;
}
.form
{
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    width: 320px;
    height: 330px;
    margin-left: 100px;
    padding: 30px;
    backdrop-filter: blur(8px);
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
}
.un,.pw
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-width: .7px;
    width: 250px;
    height: 30px;
    backdrop-filter: blur(8px);
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
}
.rem-for
{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: -2px;
}
.rem-for label
{
    font-size: .8rem;
}
.rem-for a
{
    margin-left: 4px;
    font-size: .8rem;
    color: white;
    text-decoration: none;
}
.rem-for a:hover
{
    text-decoration: underline;
}
button
{
    background:white;
    color: black;
    width: 250px;
    height: 28px;
    border-radius: 30px;  
    font-size: .9rem;
    font-weight: 520;
    border-color: white;
    border: .5px solid ;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 10px;
}
button:hover
{
    background:white;
    color:white;
    background-color:transparent;
}
.reg
{
    text-align: center;
    margin-top: 10px;
    font-size: .9rem;
    color: white;
}
.rem-for label{
    color: white;
    font-size: .8rem;
}
.reg a
{
    margin-left: 0px;
    font-size: .8rem;
    color: white;
    text-decoration: none;
}
.reg a:hover
{
    text-decoration: underline;
}
.reg p{
    font-size: .9rem;
}
::placeholder
{
    color:white;
    background-color: transparent;
}
input{
    color: white;
}
.right-section h2{
    color: white;
}